* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black;
  color: white; */
  height: 100vh;
}

#first {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: blue;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}
